<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Movie Details - <%= movie.title %></title>
  <link rel="stylesheet" href="/movie.css">
</head>
<body>
  <div class="movie-details">
    <h2><%= movie.title %></h2>
    <img src="<%= movie.image %>" alt="<%= movie.title %> poster">
    <p>Overview: <%= movie.overview %></p>
    <p>Popularity: <%= movie.popularity %></p>
    <p>Release Date: <%= movie.release_date %></p>
    <p>Vote Average: <%= movie.vote_average %></p>
  </div>

  <a href="/" class="back-button">Back to Movies</a>
</body>
</html>
